<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="exampleoncreatingfixedfragment.example.com.androidproject">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Student.MainActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Doctor.SignupDoctorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".Student.SignupStudentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".Doctor.DoctorMain">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".LoginActivity" />
        </activity>
        <activity android:name=".Doctor.DoctorProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Doctor.DoctorMain" />
        </activity>
        <activity android:name=".Doctor.AddCourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Doctor.DoctorMain" />
        </activity>


        <activity android:name=".Doctor.DetailCourseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Doctor.DoctorMain" />
        </activity>
        <activity android:name=".Doctor.AssignmentMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Doctor.DetailCourseActivity" />
        </activity>
        <activity android:name=".Student.AssignmentsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.MainActivity" />
        </activity>
        <activity android:name=".Student.QuestionsMultiActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.AssignmentsActivity" />
        </activity>

        <activity android:name=".Doctor.QuestionCreation" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Student.AssignmentsActivity" />
        </activity>
        <activity android:name=".Student.CourseDetailWithAssignments" />
    </application>

</manifest>